@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('../fonts/Helvetica/HelveticaNeueLight.woff') format('woff');
  }

  .sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    background-color: #F7F7F7;
    overflow-x: hidden;
    padding-top: 80px;
    border-right: #E0E1E1 solid 0.5px; 
    
  }
  .name{
      padding-left: 10px;
      color: black;
      font-family: 'Helvetica Light';
  }
  .sidenav a {
    /* padding: 10px 0px 0px 10px; */
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
  }
  .all{
    margin-top: 15px;
    border-left: solid 2.5px #00AA7A;
  }
  .bgg{
    font-size: 15px; 
    font-family: 'Helvetica Light';
    margin-left: 30px;
    margin-top:10px;
  }
  .bggg{
    font-size: 11.5px; 
    font-family: 'Helvetica Light';
    margin-left: 30px;
    margin-top: -10px;
  }
  .modal-content{
    width:368px !important;
  }
  .ardown{
    left: -45px !important;
    top: -4px !important;
    position: absolute;
  }
  .bisa{
    margin-left: -40px;
  }
  .borderr{
    height: 40px;
    padding-left: 40px;
  }
  .borderr:hover{
    background-color: #ededed;
    
    
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .b1{
    width: 130px;

    
  }
  .b2{
     border-left: #008862 solid 1px !important;
     margin-right: 2px;
  }
  .btn-group{
      left: 30px;
  }
  .btn:hover{
      background-color: #00AA7A;
  }
 .btn,.btn-group{
    background-color: #00C28B;
    font-family: sans-serif;
    font-size: 14px!important;
    /* position: absolute; */
    color: white !important;
    border-radius: 2px;
    height: 30px;
}
.nav-link{
    color: white;
    font-family: 'Helvetica Light';
    margin-top: -20px;
    font-size: 14px;
}

.nav-link:hover{
    color: white;
    
}
.navbar-nav{
    margin-right: -300px !important;
}

.navbar{
    background-color: #00C28B;
    height: 56px;
}
.navbar-brand{
    margin-left: 15px;
    margin-top: -7px;
}
.email, .profile{
    position: static;
    display: inline;
    color: white;
    font-family: 'Helvetica Light';
    font-size: 14px;
}

.banner{
    margin: 80px 0px 20px 195px;
}
.user{
    border: solid 0.5px #E0E1E1;
}
.co{
    margin-left: 80px;
    position: initial;
    width: 100%;
    left: 480px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.g1, .g2, .g3{
    margin-top: 50px;   
    font-family: 'Helvetica Light';
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}
.g1, .g2{
    border-right: solid 0.5px #E0E1E1;
}
.g1{
    margin-left: 120px;
}
.get{
    color: #757575;
    text-decoration: none;
}
.get:hover{
    color: #757575;
    text-decoration: none;
}
.row{
    height: 220px;
}
h6{
    color: #00C28B;
    padding-bottom: 5px;
    
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  .navbar-nav .dropdown-menu {
    position: absolute!important;
    float: none;
    
}