
@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Light'), url('../fonts/Helvetica/HelveticaNeueLight.woff') format('woff');
}
.footer {
    width: 100%;
    height: 144px;
    font-size: 12px;
    font-family: 'Helvetica Light';
    background-color: #F9FAFB;
    border: solid 1px #F0F0F0;
    color: white;
    text-align: center;
 }

 ul.breadcrumb {
    list-style: none;
    background-color: #F9FAFB;
    text-align: center;
    display: inline-block;
  }
  ul.breadcrumb li {
    display: inline-block;
    font-size: 12px;
    margin-top: 30px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #E0E1E1;
    content: "|\00a0";
  }
  ul.breadcrumb li a {
    color: #9FA0A0;
    text-decoration: none;
  }

  .copyright{
      color: #BDBEBF;
      text-align: center;
      font-size: 12px;
      margin-top: -10px;
    font-family: 'Helvetica Light'
  }